.contianer {
  max-width: 1290px;
  margin: auto;
}


.head_menyu > a {
  display: flex;
  align-items: center;
}


@media (max-width: 950px) {

  .card_shop .last {
    display: none;
  }

  .city {
    font-size: 1.6vw;
  }
  .shablon img {
    width: 300px;
  }

  .left_text h1 {
    width: 200px;
  }
  .left_img img {
    width: 18vw;
    margin-bottom: 10px;
    margin-right: 40px;
  }
  .right_box h1 {
    width: 150px;
    font-size: 28px;
  }

  .menyu_logo {
    display: none;
  }
  .Logo_card a img {
    width: 50px;
  }
  .menyu_card {
    max-width: 80px;
    min-width: 50px;
  }
  .menyu_card > h3 {
    display: none;
  }

  .left_box {
    overflow: hidden;
  }

  .right_img img {
    width: 270px;
    height: 150px;
    transform: rotate(15deg);
    margin-left: 30px;
  }
}

@media (max-width: 705px) {
  .card_shop > .last {
    display: block;
  }
  .card_shop {
    grid-template-rows: repeat(2, 1fr);
  }

  .text_box {
    grid-template-rows: repeat(2, 1fr);
  }

  .left_img img {
    width: 160px;
    margin-left: 40px;
  }
}

@media (max-width: 750px) {
  .button_card {
    align-items: center;
    position: fixed;
    z-index: 10;
    height: 80px;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: white;
  }
  .button_card > .card {
    width: 100px;
  }

  footer {
    margin-bottom: 130px;
  }
}

@media (max-width: 1075px) {
  .card_product {
    column-gap: 20px;
    align-items: center;
    row-gap: 0;
  }
}

@media (max-width: 480px) {
  .text_logo {
    display: none;
  }
  .shablon > img {
    width: 300px;
  }
  .attention {
    font-size: 22px;
  }
  .left_box h1 {
    font-size: 20px;
  }
  .left_box {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .right_img img {
    width: 240px;
  }

  .left_img img {
    width: 180px;
  }

  .img_header img {
    width: 50px;
    border-radius: 50%;
  }
  .menyu_card {
    display: none;
  }
  .Logo_card {
    display: none;
  }

  .katalog {
    display: flex;
  }

  .img_header {
    display: flex;
  }
}
































.menyu_head {
  display: flex;
  font-size: 14px;
  gap: 10px;
  padding: 20px;
}
.menyu_head p:nth-child(3) {
  margin-top: 2px;
  color: #8f8f8f;
}
.menyu_head p:nth-child(1) {
  margin-top: 2px;
}
