* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  transition: 1s;
}

.contianer {
  max-width: 1390px;
  margin: auto;
}

main {
  width: 100%;
  height: auto;
  background-color: #fbf8ec;
  padding-top: 80px;
}
.ortasi {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.head_menyu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.head_menyu p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #606060;
  font-size: 16px;
}
.head_menyu h1 {
  font-family: "Winky Sans", sans-serif;
  font-weight: 700;
  color: #414141;
}
.card_shop {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 10px;
}

.shoping {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 6px;
}
.shoping .img_product {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.qadoqlilar {
  width: 189px;
  height: 180px;
  object-fit: contain;
  display: flex;
  margin: auto;
}
.sut {
  width: 200px;
  height: 180px;
  object-fit: cover;
  display: flex;
  margin: auto;
}
.shirinlik {
  width: 100%;
  height: 179px;
  object-fit: cover;
  margin: auto;
  border-radius: 12px;
}
.kolbasa_2 {
  object-fit: contain;
}
.foiz {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff6633;
}
.arxiv {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f1;
}
.info_product {
  width: 100%;
  height: auto;
  padding: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.narx {
  display: flex;
  justify-content: space-between;
}
.narx :first-child {
  font-weight: bold;
}
.malumot {
  display: flex;
  justify-content: space-between;
  color: #bfbfbf;
  margin-top: 5px;
  margin-bottom: 5px;
}
.city {
  width: 100%;
  font-size: 19px;
  color: #414141;
}
.rating {
  margin-top: 5px;
  margin-bottom: 5px;
}
.info_product button {
  width: 100%;
  height: 30px;
  background: none;
  border: 2px solid #70c05b;
  color: #70c05b;
  font-size: 16px;
}

.shoping button:hover {
  background-color: #ff6633;
  color: white;
  transition: 1s;
}
.menyu_2 {
  margin-top: 150px;
}
.narx-2 {
  margin-bottom: 30px;
}
.info_shoping h1 {
  font-family: "Winky Sans", sans-serif;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #414141;
}
.info_shoping .text_box {
  width: 100%;
  height: 90%;
  display: flex;
  gap: 50px;
}
.left_box {
  flex: 1;
  height: 230px;
  background-color: #ca936080;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.left_text {
  width: 45%;
}
.left_text h1 {
  margin-bottom: 10px;
}
.left_box img {
  width: 206px;
  height: 120px;
  transform: rotate(40deg);
}

.right_box {
  flex: 1;
  height: 230px;
  background-image: url(./info_shop/image/image_2025-05-27_15-08-34.png);
  background-size: contain;
  background-position: right;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.savat {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}
.left_text_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.left_text_two h1 {
  line-height: 40px;
  margin-bottom: 15px;
  font-size: 32px;
}
.left_text_two {
  width: 60%;
}
.left_text p {
  color: #414141;
}
.left_text_two p {
  font-size: 16px;
  color: #414141;
  width: 70%;
}
.info_map {
  width: 100%;
  height: 800px;
  padding: 12px;
  margin-top: 30px;
}

.info_map h1 {
  font-size: 36px;
  color: #414141;
  font-family: "Winky Sans", sans-serif;
  margin-bottom: 40px;
}
.city_map {
  width: 500px;
  height: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 5px;
}
.city_map button {
  flex: 1;
  height: 80%;
  transition: 1s;
  border: none;
  border-radius: 6px;
  font-family: "Winky Sans", sans-serif;
}
.city_map button:hover {
  background-color: #70c05b;
  color: white;
}
.map_card {
  width: 100%;
  height: 540px;
  margin-top: 20px;
  background: url(./image/map.png);
  background-size: contain;
}
.information_product {
  width: 100%;
  height: 600px;
  margin-top: 40px;
  padding: 10px;
}
.menyu_Info {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 70px;
}
.menyu_Info h2 {
  color: #414141;
  font-family: "Winky Sans", sans-serif;
  font-size: 30px;
}
.menyu_Info p {
  display: flex;
  align-items: center;
  height: 20px;
  color: #606060;
}

.card_product {
  width: 100%;
  height: 80%;
  display: flex;
  padding: 10px;
  gap: 50px;
}

.card_Info {
  flex: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card_Info img {
  width: 100%;
  height: 44%;
  object-fit: cover;
}
.card_Info .text_Info {
  width: 100%;
  height: 55%;
  font-family: "Winky Sans", sans-serif;
  padding: 10px;
}
.text_Info h3 {
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 20px;
}
.text_Info button {
  background-color: #e5ffde;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 6px;
  color: #70c05b;
  transition: 1s;
}
.text_Info button:hover {
  background-color: #70c05b;
  color: white;
}
.margin_top_one {
  margin-top: 15px;
}
.margin_top_two {
  margin-top: 55px;
}
.margin_top_three {
  margin-top: 35px;
}
