.contianer {
  max-width: 1290px;
  margin: auto;
  /* background-color: rgba(0, 0, 0, 0.501); */
}

/* @media (width > 1000px) {
  .shoping .city{
    background-color: yellow;
  } 
} */

 @media (max-width: 950px) {
  .last{
    display: none;
    
  }

  .city{
    font-size: 1.6vw;
  }
  .shablon img{
    width: 300px;
  }

  
}

@media (width < 1150px) {
  .left_img img{
    background-color: rgba(0, 0, 0, 0.389);
    width: 15vw;
    margin-top: 30px;
  }
  .right_img{
    background-color: rgba(0, 0, 0, 0.326);
    /* background-color: dodgerblue; */
  }
}
/*
@media (max-width: 480px) {
  .contianer {
    padding: 8px;
    max-width: 100%;
  }
} */